#jinja2: lstrip_blocks: True
{% set ns = namespace(items=[]) %}
{% for varname in lookup('varnames', '^' ~ app_name ~ '_.+_' ~ var_type ~ '(s)?$', wantlist=True) %}
  {% set var = lookup('vars', varname) %}
  {% if var is not none and (var | length) %}
    {% if var is mapping %}
      {% set _ = ns.items.append(var) %}
    {% elif var is iterable and var is not string %}
      {% for item in var %}
        {% set _ = ns.items.append(item) %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
{{ ns.items | to_json }}
